body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Courier New', Courier, monospace, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background: linear-gradient(89deg, #ff5edf 0%, #04c8d3 100%); /*w3c*/
  background: linear-gradient(89deg, #961f64 0%, #5f5e21 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  cursor: pointer;
}
